/* ===================================== 
  BASE STYLES
======================================== */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Raleway:ital,wght@0,100;0,300;1,100&family=Roboto+Mono:wght@200&display=swap');

* {
  box-sizing: border-box;
}

body {
  position: relative;
}
/* ===================================== 
    MAIN HEADER
======================================== */
.main-header,
.main-nav {
  display: flex;
  margin-top: 10px;
}

.main-nav {
  margin: auto;
}

.main-nav input {
  border-radius: 5px;
  border: 1px solid #eaeaea;
  padding: 8px 15px;
  font-size: 14px;
  margin: 30px 0 30px 0;
  width: 300px;
  height: 38px;
}

.main-nav input,
p {
  font-family: 'Oswald', sans-serif;
}

/* ===================================== 
    MAIN-CONTENT
======================================== */
.img:hover {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  width: 80%;
  margin: auto;
}

.img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  box-shadow: 10px 6px 5px;
}

footer {
  height: 5vh;
}

/* ===================================== 
    MODAL-WINDOW
======================================== */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 1rem auto;
  width: 80%;
}

.close {
  font-size: 3rem;
  position: absolute;
  top: 0;
  right: 10px;
}

.close:hover {
  text-decoration: none;
  cursor: pointer;
}

.modal-img {
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 100%;
}

.prev,
.next {
  position: absolute;
  top: 20%;
}

.prev:hover,
.next:hover {
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* ===================================== 
    MEDIA QUERIES
======================================== */
@media (min-width: 768px) {
  .main-header {
    margin-top: 30px;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
  }

  .main-nav input {
    width: 500px;
  }

  .prev,
  .next {
    top: 30%;
  }

  .close {
    top: 1rem;
  }

  .modal-img {
    height: 100%;
  }

  .desc {
    text-align: center;
  }

  .modal-content {
    width: 80%;
    height: 80%;
    padding-bottom: 3rem;
  }
}

@media (min-width: 1040px) {
  .container,
  .modal {
    max-width: 1150px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
